.w3-quarter{
    padding: 5px;
    margin: 12px;
    width: 29%;
    position: relative;
    overflow: scroll;
    display: block;    
}
.w3-quarter p{
    text-align: center;
}
.w3-quarter i{
    float: right;
    position: relative;
}
.w3-quarter:hover{
    background-color: black;
    color: white;
}
.w3-quarter img{
    max-width: 100%;
    display: block;
    margin: auto;
}
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}
#name{
    /* background-color: black; */
    color: white;
	font-size: 40px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
a{
    text-decoration: none;
}
