.w3-quarter{
    padding: 2% 2% 2% 2%;
    margin: 2% 2% 2% 2%;
    width: 29%;
    position: relative;
    overflow: scroll;
    display: block;
    text-align: center;
 
}
.w3-quarter p{
    text-align: center;
}
.w3-quarter i{
    float: right;
    position: relative;
}
.w3-quarter:hover{
    background-color: rgba(0,0,0,0.7);
    color: white;
}
.w3-quarter img{
    max-width: 100%;
    display: block;
    margin: auto;
    height: 100px;
    width: 150px;
}
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}
#name{
    /* background-color: black; */
    color: white;
	font-size: 40px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
a{
    text-decoration: none;
}

.modal {
    overflow: auto; 
    padding-top: 100px; 
    width: 100%; 
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 8px 1px rgba(92,92,92,0.5);
    display: none;
    border-radius: 6px;
    padding: 32px;
    border: 1px solid #ccc;
    color: #666;
}
  
  /* Modal Content */
.content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}
  
  /* The Close Button */
.closeBtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.project-title{
    text-align: left; 
}
.project-content img{
    height: 200px;
    width: 300px;
    padding: 6px;
}