#invite {
    position: absolute;
    left: 43%;
    top: 150px;
    font-weight: bolder;
    font-family: cursive;
    
}

body {
    background-color: rgb(151, 223, 233);
}

#babybear {
    position: absolute;
    right: 30px;
    height: 200px;
    width: 200px;
    top: 50px;
}

#footer {
    position: absolute;
    left: 42%;
    bottom: 15px;
    
}

#list {
    list-style: none;
}

#rsvp {
    position: absolute;
    right: 15px;
    top: 10px;
}