.ball{
  border: 2px solid black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
 
}

h3{
  position: relative;
  text-align: center;
}

.ball#_0{

}
.ball#_1{
  position: absolute;
  top: 0px;
  left: 350px;

}