#puzzlearea {
    height: 400px; 
    width: 400px;
    /*margin-left: 35%;*/
};

#puzzlearea {
    position: relative;
}

.blank {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border: white;
    background-color: white;
}