#puzzlearea {
    height: 400px; 
    width: 400px;
    position: inherit;
};

.blank {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border: white;
    background-color: white;
}