h1 {
  font-size: 70px;
}
h2{
  text-align: right;
}
h3 {
  text-align: left;
}
body {
  background-color: silver;
  background-image: url("car.gif");
  background-size: auto;
  text-align: center;
  color: white;
}
